<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" id="footer" class="bg-dark text-center text-white">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
		<!-- Section: Social media -->
		<section class="mb-4">
<!-- 			&lt;!&ndash; Facebook &ndash;&gt; -->
<!-- 			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" -->
<!-- 			><i class="ui-icon-mail-open"></i -->
<!-- 			></a> -->

<!-- 			&lt;!&ndash; Twitter &ndash;&gt; -->
<!-- 			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" -->
<!-- 			><i class="fab fa-twitter"></i -->
<!-- 			></a> -->

<!-- 			&lt;!&ndash; Google &ndash;&gt; -->
<!-- 			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" -->
<!-- 			><i class="fab fa-google"></i -->
<!-- 			></a> -->

<!-- 			&lt;!&ndash; Instagram &ndash;&gt; -->
<!-- 			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" -->
<!-- 			><i class="fab fa-instagram"></i -->
<!-- 			></a> -->

<!-- 			&lt;!&ndash; Linkedin &ndash;&gt; -->
<!-- 			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" -->
<!-- 			><i class="fab fa-linkedin-in"></i -->
<!-- 			></a> -->

<!-- 			&lt;!&ndash; Github &ndash;&gt; -->
<!-- 			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" -->
<!-- 			><i class="fab fa-github"></i -->
<!-- 			></a> -->
		</section>
		<!-- Section: Social media -->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2022 Copyright:
		<a class="text-white" href="https://mdbootstrap.com/">Defer Tanguy</a>
	</div>
	<!-- Copyright -->
</footer>
</html>