<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/%22%3E">
<div th:fragment="tagmenu" id="menu">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 	<section class="top-nav"> -->
<!-- 		<div> -->
<!-- 			<a href="/home/welcome">Accueil</a> -->
<!-- 		</div> -->
<!-- 		<input id="menu-toggle" type="checkbox" /> -->
<!-- 		<label class='menu-button-container' for="menu-toggle"> -->
<!-- 		<div class='menu-button'></div> -->
<!-- 		</label> -->
<!-- 		<ul class="menu"> -->
<!-- 			<li th:each="format : ${formats}"> -->
<!-- 				<a th:href="@{/recettes/hellofresh/format/{id}(id=${format.id})}" th:text="${format.libelleFormatRecette}" style="color: #0a0a0a"></a> -->
<!-- 			</li> -->
<!-- 			<li> -->
<!-- 				<a class="deconnexion" th:href="@{/logout}">| DECONNEXION |</a> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 	</section> -->
</div>
</html>
