<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
		"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: taghead">
</head>
<body>
<div id="home">
	<div id="containerNav">
		<header th:replace="fragments/infoHeader :: headInfo"></header>
		<div th:replace="fragments/menu :: tagmenu"></div>
		<div class="home-message">
			<h1 style="text-align: center; margin-bottom: 3%">Bienvenue
				<div sec:authentication="name"></div>
			</h1>
			<h2>Notes de mise à jour 0.0.3</h2>
			<h5 style="text-align: center; font-weight: bold"><a
					href="https://gitlab.com/TanguyD/recettes/-/tags/0.0.3">Voir sur Git</a></h5>
			<p>L'affichage de toutes les recettes venant de Hello Fresh ainsi que celui par catégorie est terminé +
				version mobile</p>
			<p>Le menu dynamic est terminé pour la partie web et mobile</p>
			<p>Nouveau menu déroulant afin de séléctionner la provenance des recettes</p>
			<p>Affichage d'une fiche recette recto + verso + zoom terminé</p>
			<p>Affichage d'une fiche recette recto + verso + zoom sur mobile terminée ( test en cours )</p>
			<h2>Améliorations à venir</h2>
			<p>Ajout de nouvelles recettes</p>
			<h2>problèmes connus</h2>
			<p>Quelques problèmes d'affichage selon écrans et mobile, update après phase de test</p>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
